{% extends 'navigation3.html' %}
{% load static %}
{% block b %}
<style>
    input[type=text][type=time][type=file] {
        border-radius: 8px;
        width: 100%;
        height: 35px;
    }

    .form-container {
        color: Black;
        border: 1px solid white;
        border-radius: 8px;
        background-color: white;
        padding: 50px;
    }

    .form-container h3 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .form-container img {
        border-radius: 8px;
        width: 200px;
        height: 150px;
    }

    .form-container input[type="file"] {
        width: 250px;
        height: 50px;
    }

    .form-container input[type="submit"] {
        color: white;
        border-radius: 8px;
        width: 150px;
        height: 35px;
        background-color: #333;
        border: 1px solid black;
        margin-top: 20px;
    }

    /* Responsive Design */
    @media (max-width: 768px) {
        .form-container {
            padding: 20px;
        }

        .form-container img {
            width: 100%;
            height: auto;
        }

        .form-container input[type="file"] {
            width: 100%;
        }

        .form-container input[type="submit"] {
            width: 100%;
        }
    }

</style>

<div class="form-container">
    <h3><strong>Change Train Image</strong></h3><hr>

    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}

        <div>
            <strong>Old Image:</strong><br>
            <img src="{{ train.img.url }}" alt="Old Train Image">
        </div>
        <div>
            <strong>New Image:</strong><br>
            <input type="file" name="newpic" class="form-control">
        </div>
        <div>
            <input type="submit" value="Update">
        </div>
    </form>
</div>

{% ifequal error "no" %}
<script>
    alert('Train pic has been updated');
    window.location=('{% url 'change_image' train.id %}');
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    window.location=('{% url 'change_image' train.id %}');
</script>
{% endifequal %}

{% endblock %}
