{% extends 'navigation3.html' %}
{% load static %}
{% block b %}

<style>
    input[type=text], input[type=password] {
        border-radius: 8px;
        width: 100%;
        height: 35px;
        padding: 5px 10px;
        box-sizing: border-box;
    }

    .booking-container {
        color: black;
        border: 1px solid white;
        border-radius: 8px;
        background-color: white;
        padding: 30px;
        margin: 20px auto;
        max-width: 95%;
    }

    @media (max-width: 768px) {
        .booking-container {
            padding: 15px;
        }
    }

    h3 {
        margin-bottom: 20px;
    }

    .table th, .table td {
        vertical-align: middle !important;
    }
</style>

<div class="booking-container">
    <h3><strong>Booking Details</strong></h3><hr>

    <div class="table-responsive">
        <table class="table table-bordered" id="myTable">
            <thead style="color:white;background-color:#333">
                <tr>
                    <th>Sr No</th>
                    <th>Passenger</th>
                    <th>Train Name & No.</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Date</th>
                    <th>Fare</th>
                    <th>Travelling</th>
                </tr>
            </thead>
            <tbody>
                {% for i in book %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.passenger.name }}</td>
                    <td>{{ i.passenger.train.trainname }}. {{ i.passenger.train.train_no }}</td>
                    <td>{{ i.passenger.age }}</td>
                    <td>{{ i.passenger.gender }}</td>
                    <td>{{ i.passenger.date1 }}</td>
                    <td>{{ i.fare }}</td>
                    <td>{{ i.route }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
